{% extends 'core/base.html' %}
{% load user_groups %}


{% block content %}
<h2>Products</h2>


<ul class="list-group">
 {% for product in products %}
   <li class="list-group-item d-flex justify-content-between align-items-center hover-card shadow-sm mb-2">
     <div>
       <a href="{% url 'products:detail' product.pk %}">
         {{ product.name }}
       </a>
       <div class="small text-muted">
         Price: {{ product.price }}
       </div>
     </div>
     {% include 'core/actions.html' with edit_url=product.get_edit_url delete_url=product.get_delete_url %}
   </li>
 {% empty %}
   <li class="list-group-item">No products yet.</li>
 {% endfor %}
</ul>


{% if user|in_group:'Manager' %}
 <a class="btn btn-success mt-3" href="{% url 'products:create' %}">Add New Product</a>
{% endif %}


{% endblock %}