{% extends 'core/base.html' %}
{% load user_groups %}


{% block content %}
<h2>Customer Details</h2>


<div class="card shadow-sm">
  <div class="card-body">


    <h5 class="card-title">
      {{ customer.first_name }} {{ customer.last_name }}
    </h5>


    <p class="card-text">
      <strong>Email:</strong> {{ customer.email }}
    </p>


    {% if customer.phone %}
      <p class="card-text">
        <strong>Phone:</strong> {{ customer.phone }}
      </p>
    {% endif %}


    <div class="d-flex gap-2">
      {% include 'core/actions.html' with edit_url=customer.get_edit_url delete_url=customer.get_delete_url %}
      <a href="{% url 'customers:list' %}" class="btn btn-secondary">Back</a>
    </div>


  </div>
</div>
{% endblock %}