{% extends 'core/base.html' %}
{% load stats_tags %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="mb-3">Welcome to Contact Lenses App</h1>
    <p class="lead">Manage your Products, Customers, and Orders easily.</p>
</div>

<div class="row g-4 mb-5">
    <div class="col-md-4">
        <a href="{% url 'products:list' %}" class="text-decoration-none text-dark">
            <div class="card p-4 position-relative hover-card card-accent-products">
                <i class="bi bi-box-seam card-icon"></i>
                <h5>Total Products</h5>
                <h2 class="mt-3">{% total_products %}</h2>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{% url 'customers:list' %}" class="text-decoration-none text-dark">
            <div class="card p-4 position-relative hover-card card-accent-customers">
                <i class="bi bi-people card-icon"></i>
                <h5>Total Customers</h5>
                <h2 class="mt-3">{% total_customers %}</h2>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{% url 'orders:list' %}" class="text-decoration-none text-dark">
            <div class="card p-4 position-relative hover-card card-accent-orders">
                <i class="bi bi-cart card-icon"></i>
                <h5>Total Orders</h5>
                <h2 class="mt-3">{% total_orders %}</h2>
            </div>
        </a>
    </div>
</div>

{% endblock %}