{% extends 'core/base.html' %}
{% load user_groups %}
{% load stats_tags %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="mb-3">Welcome to Contact Lenses App</h1>
    <p class="lead">Manage your Products, Customers, and Orders easily.</p>
</div>

{% if user.is_authenticated %}
<div class="row g-4 mb-5">
    <div class="col-md-4">
        <a href="{% url 'products:list' %}" class="text-decoration-none text-dark">
            <div class="card p-4 position-relative hover-card card-accent-products">
                <i class="bi bi-box-seam card-icon"></i>
                <h5>Total Products</h5>
                <h2 class="mt-3">{% total_products %}</h2>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        {% if user|in_group:'Customer' %}
            <a href="{% url 'orders:create' %}" class="text-decoration-none text-dark">
                <div class="card p-4 position-relative hover-card card-accent-orders">
                    <i class="bi bi-cart card-icon"></i>
                    <h5>Create New Order</h5>
                </div>
            </a>
        {% else %}
            <a href="{% url 'customers:list' %}" class="text-decoration-none text-dark">
                <div class="card p-4 position-relative hover-card card-accent-customers">
                    <i class="bi bi-people card-icon"></i>
                    <h5>Total Customers</h5>
                    <h2 class="mt-3">{% total_customers %}</h2>
                </div>
            </a>
        {% endif %}
    </div>


    <div class="col-md-4">
        <a href="{% url 'orders:list' %}" class="text-decoration-none text-dark">
            <div class="card p-4 position-relative hover-card card-accent-orders">
                <i class="bi bi-cart card-icon"></i>
                <h5>Total Orders</h5>
                <h2 class="mt-3">{% total_orders %}</h2>
            </div>
        </a>
    </div>
</div>

{% if user.is_authenticated and user|in_group:'Manager' %}
<div class="text-center mb-5">
    <a href="{% url 'products:create' %}" class="btn btn-primary me-2">+ Product</a>
    <a href="{% url 'customers:create' %}" class="btn btn-primary me-2">+ Customer</a>
    <a href="{% url 'orders:create' %}" class="btn btn-primary">+ Order</a>
</div>
{% endif %}

{% else %}
<div class="alert alert-info text-center">
    Please <a href="{% url 'login' %}">login</a> to see your dashboard and manage data.
</div>
{% endif %}

{% endblock %}