{% extends 'core/base.html' %}
{% load user_groups %}


{% block content %}
<h2>Order Details</h2>


<div class="card shadow-sm">
  <div class="card-body">

    <h5 class="card-title">Order #{{ order.id }}</h5>

    <p class="card-text">
      <strong>Customer:</strong> {{ order.customer.first_name }} {{ order.customer.last_name }}
    </p>


    <p class="card-text">
      <strong>Status:</strong> {{ order.get_status_display }}
    </p>


    <p class="card-text">
      <strong>Products:</strong>
      <ul>
        {% for product in order.product.all %}
          <li>{{ product.name }}</li>
        {% endfor %}
      </ul>
    </p>


    <div class="d-flex gap-2">
      {% include 'core/actions.html' with edit_url=order.get_edit_url delete_url=order.get_delete_url %}
      <a href="{% url 'orders:list' %}" class="btn btn-secondary">Back</a>
    </div>


  </div>
</div>
{% endblock %}